div.jumbotron
    h1 Learning Angular
    p.
        This is a very simple project to apprehend Angular, Karma, Protractor, Bower and Bootstrap.
        Its scope is Chrome and Firefox only to ease and accelerate development and testing.
    p: button.btn.btn-primary.btn-lg(ng-click='vm.showConclusions()', type='button') Here are my thoughts
    div#conclusions.well(btf-markdown='vm.conclusions', ng-if='vm.conclusions')