ul.nav.nav-pills
    li(role="presentation", ng-class="{active:isActive('/')}"): a(href="/") Home
    li(role="presentation", ng-class="{active:isActive('/comic')}"): a(href="/comic") Comics
    li(role="presentation", ng-class="{active:isActive('/character')}"): a(href="/character") Characters