img.thumbnail(ng-src="{{novel.thumbnail.path + '.' + novel.thumbnail.extension}}")
a(ng-href="/comic/{{novel.id}}") {{novel.title}}
div.meta.ean EAN: {{novel.ean}}
div.meta.isbn ISBN: {{novel.isbn}}
div.meta.price(ng-if='novel.prices.length') Price: {{novel.prices[0].price | currency}}