ul.nav.nav-pills
    li(role="presentation", ng-class="{active:vm.isActive('/')}"): a(href="/") Home
    li(role="presentation", ng-class="{active:vm.isActive('/comic')}"): a(href="/comic") Comics
    li(role="presentation", ng-class="{active:vm.isActive('/character')}"): a(href="/character") Characters