@require 'vars'


#comic-detail

    .media-info
        padding 1rem
        background-color: $greyLight

    .image-container
        text-align center

    .render-image
        margin-right 1rem
